html {
  height: 100vh;
}

body {
  background-color: rgb(32, 32, 31);
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Optionally, you can set the height to the viewport height for vertical centering
}
