.left-container {
  width: 20%;
  height: 100%;
  background-color: rgb(22, 22, 22);
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.boardSelector {
  align-self: center;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}
