.modal-overlay {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(48, 48, 48);
    padding: 30px;
    width: 35%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    .modal-form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .modal-title {
        margin: 0;
        text-align: center;
        font-size: 32px;
        color: goldenrod;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }

      .modal-input {
        margin-bottom: 10px;
        padding: 8px;
        width: 100%;
        box-sizing: border-box;
        font-size: 18px;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        border-radius: 10px;
      }

      .modal-radio {
        display: flex;
        justify-content: space-around;
      }

      .modal-label {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }

      .modal-option {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }

      .text {
        height: 150px;
      }

      .modal-btns {
        display: flex;
        gap: 20px;

        button {
          font-size: 18px;
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          width: 100px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:disabled {
            background-color: gray;
          }
          &:hover {
            transform: scale(1.1);
          }
        }

        .modal-submit {
          background-color: #c3ff0e;
        }

        .modal-cancel {
          background-color: goldenrod;
        }

        .modal-delete {
          background-color: rgb(206, 61, 61);
        }
      }
    }
  }
}
