.task-card {
  background-color: #a0d308;
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .task-name {
    color: black;
    margin: 0;
  }

  .task-notes {
    color: black;
    margin: 0;
  }

  .toggle-notes-btn {
    cursor: pointer;
    border: none;
    background: none;
    align-self: self-end;

    .notes-svg {
      width: 20px;
      height: auto;
    }
  }
}
